.banner-shape {
    position: absolute;
    left: 78%;
    top: 43%;
    transform: translate(-50%, -50%);
    z-index: -1;
}

img {
    vertical-align: middle;
    border-style: none;
}

@media only screen and (max-width: 576px) {
    .banner-shape {
        width: 70%;
        position: absolute;
        left: 54%;
        top: 22%;
        transform: translate(-50%, -50%);
        z-index: -1;
    }
}