* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.footer {
    width: 100%;
    padding: 100px 18%;
    background: black;
    color: gray;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;

}

.footer div {
    text-align: center;
}

.col-2 {
    flex-grow: 2;
}

.footer div h3 {
    margin-bottom: 35px;
    letter-spacing: 1px;
}

.col-1 a {
    display: block;
    text-decoration: none;
    color: #efefef;
    margin-bottom: 9px;

}

.col-2 a {
    display: block;
    text-decoration: none;
    color: #efefef;
    margin-bottom: 9px;

}

.col-3 a {
    display: block;
    text-decoration: none;
    color: #efefef;
    margin-bottom: 9px;
}

.socials {
    margin-top: 28px;
}

.socials i {
    font-size: 25px;
    margin: 8px;
    cursor: pointer;

}

@media only screen and (max-width: 576px) {
    .footer {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media only screen and (min-width:580px) and (max-width: 992px) {
    .footer {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media only screen and (min-width:993px) and (max-width: 1400px) {
    .footer {
        grid-template-columns: repeat(3, 1fr);
    }
}